@media screen and (max-width: 1466px){
    .conteiner{
        width: 94%;
    }
    header{
        padding: 0;
    }
    .header_wrapper{
        width: 100%;
        background-position: right 10% bottom 30%;
        }
    .header_content_left{
        width: 70%;
    }
    .header_content_left p {
        width: 60%;
    }
    .footer_topConteiner, .footer_bottomConteiner_menu, .footer_bottomConteiner_copyright{
        margin: 0 auto;
        width: 80%;
    }
    .footer_bottomConteiner_menu{
        padding-bottom: 64px;
    }
}
@media screen and (max-width: 768px) {
    
    body{
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 16px;
        font-weight: 400px;
    }
    .header_wrapper{
        background-position: right bottom 20%;
    }

    .header_content_left p {
        width: 80%;
    }
    .help_block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    } 
    .help_block_item{
        width:44%;
        margin-bottom: 32px;
        padding: 30px 14px;
    }
    .help_block_item h3{
        margin: 0 auto;
        padding: 0;
        padding-top: 46px;
        padding-bottom: 20px;
        text-align: center;
    }
    .help_block_item p{
        padding: 0 10px 18px 10px;
        padding-bottom: 18px;
    }
    .finishedProject_text{
        width: 80%;
    }
    .bottomCards{
        width:48%;
    }
    .footer_topConteiner, .footer_bottomConteiner_menu, .footer_bottomConteiner_copyright{
        width:76%;
    }
    .footer_topConteiner_content{
        width: 70%;
    }
    .footer_topConteiner_btn{
        padding: 8px 40px;
    }
    .footer_bottomConteiner_menu{
        display: block;
        padding-left: 20px;
    }
    .footer_bottomConteiner_menu_listItem{        
        width: 100%;
        padding-top: 20px;
    }
}
@media screen and (max-width: 500px){
    .body{
        max-width: 376px;
    }
    header{
        background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
    }
    .header_wrapper{
        background: inherit;
        padding-bottom: 40px;
    }
    .header_top{
        margin-bottom: 50px;
    }
    .header_content_left{
        padding: auto;
        width: 100%;

        text-align: center;
    }
    .header_content_left h1{
        margin: 0 auto;
        width: 80%;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 1.28px;
    }
    .header_content_left p{
        width: 90%;
        margin: 0 auto;
        padding-top: 12px;
        padding-bottom: 32px;
        margin-bottom: 40px;
    }
    .header_content_right{
        display: none;
    }
    .header_content_link{
        margin-bottom: 40px;
    }
    .help{
        background-color:#F5F5F5;
    }
    .help h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .help_block_item{
        width: 90%;
    }
    .finishedProject {
        margin-bottom: 64px;
    }
    .finishedProject_title{
        font-size: 24px;
        line-height: 28px;
    }
    .finishedProject_text {
        width: 90%;

        font-size: 16px;
        line-height: 26px;
        text-align: justify;
    }
    .bottomCards{
        width: 100%;
        margin-bottom: 16px;    
    }
    .finishedProject_conteiner img {
        margin: 0 auto;
    }
    .finishedProject_titleInFoto{
        top: 10px;
        left: 100px;
        font-size: 16px;
        line-height: 19px;

        height: 150px;
    }
    .finishedProject_cards{
        display: block;
    }
    .finishedProject_titleInFoto1{
        font-size: 16px;
        line-height: 19px;
        top:10px;
    }
    .footer_topConteiner{
        margin: 0 auto;
        padding: 0 auto;
        margin-bottom: 20px;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .footer_topConteiner_content{
        margin: 0 auto;
        padding-top: 18px;
        margin-bottom: 40px;
        width: 100%;

        margin-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer_topConteiner_content h2{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
        font-size: 24px;
        line-height: 28px;
    }
    .footer_topConteiner_content p{
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
    }
    .footer_topConteiner_btn{
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .footer_bottomConteiner_menu{
        display: block;

        padding-bottom: 0;
        margin: 0 auto;
        margin-left: 40px;
        margin-bottom: 30px;
    }
    .footer_bottomConteiner_copyright{
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .footer_p{
        width: 100%;
        text-align: center;
    }

}